<div class="col-lg-12" id="estadistic">
    <div class="col-lg-3" id="st1">
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ title }}</h5>
                <p class="card-text">{{ description1 }}</p>
            </div>
            <div class="card-footer text-white bg-primary mb-3">{{ footer }}</div>
        </div>
    </div>
    <div class="col-lg-3" id="st2">
        <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">title</h5>
                <p class="card-text">info.</p>
            </div>
            <div class="card-footer text-white bg-secondary mb-3">Footer</div>
        </div>
    </div>
    <div class="col-lg-3" id="st1">
        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">title</h5>
                <p class="card-text">info.</p>
            </div>
            <div class="card-footer text-white bg-success mb-3">Footer</div>
        </div>
    </div>
    <div class="col-lg-3" id="st4">
        <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">title</h5>
                <p class="card-text">info.</p>
            </div>
            <div class="card-footer text-white bg-danger mb-3">Footer</div>
        </div>
    </div>



</div>